.main-page-background {
  background-color: #eaeded;
}

.banner-section {
  /* width: 100%; */
  max-width: 150rem;
  margin: 0 auto;
}

.main-banner {
  width: 100%;
  mask-image: linear-gradient(rgba(0, 0, 0, 1), rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.grid-section {
  transform: translateY(-31rem);
  width: 100%;
  /* overflow: hidden; */
  height: 20rem;
}
