.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  /* max-width: 35rem; */
  height: 42rem;
  padding: 2rem 2rem 1.5rem 2rem;
  background-color: white;
  gap: 1rem;
  flex-shrink: 1;
  min-width: 0;
}

.card-title {
  font-size: 2.1rem;
  line-height: 2.73rem;
}

.card-img-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.card-img {
  height: 100%;
}

.card-link:link,
.card-link:visited {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.9rem;
  text-decoration: none;
  color: #288798;
}

.card-link:hover,
.card-link:active {
  text-decoration: underline;

  color: #cb9754;
}
